<% case @answer_code %>
<% when :answer_1 %>
  <%= render "answer" %>
  <div>hoge</div>
<% when :answer_2 %>
  <%= render "answer" %>
  <div>ほげ</div>
<% when :answer_3 %>
  <%= render "answer" %>
  <div>ホゲ</div>
<% when :answer_4 %>
  <%= render "answer" %>
  <div>hogeeee</div>
<% when :answer_5 %>
  <%= render "answer" %>
  <div>hoooooge</div>
<% when :answer_6 %>
  <%= render "answer" %>
  <div>hogehoge</div>
<% when :answer_7 %>
  <%= render "answer" %>
  <div>hogegege</div>
<% when :answer_8 %>
  <%= render "answer" %>
  <div>hohohohoge</div>
<% when :not_found %>
  <div>no</div>
<% end %>