<div class="pb-6 sm:pb-8 lg:pb-12 mt-20">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <p class="text-gray-600 mb-8">
      あなたにおすすめの情報をピックアップしました。<br>
      まずはこちらの情報から目を通してみて下さい。<br>
    </p>
  </div>
</div>

<div class="container mx-auto pt-3 grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 pb-16">
  <% @answer_design_tip.each do |answer_design_tip| %>
    <% if answer_design_tip.answer.answer_code == @answer_code %>
      <div class="bg-white flex md:flex-row rounded-lg shadow-lg">
        <div class="flex flex-col place-content-between gap-2 p-4 lg:p-6">
          <div class="text-brown text-xl font-serif hover:text-yellow-900">
            <%= link_to answer_design_tip.design_tip.title, answer_design_tip.design_tip.url, target: :_blank, rel: "noopener noreferrer" %>
          </div>
          <p class="text-gray-500 text-sm"><%= answer_design_tip.design_tip.guidance %></p>
          <div class="my-5 flex place-content-between">
            <%= render 'design_tips/tag_list', tag: answer_design_tip.design_tip.tags.pluck(:name) %>
            <% if logged_in? %>
              <%= render 'design_tips/like_button', design_tip: answer_design_tip.design_tip %>
            <% else %>
              <%= render 'design_tips/before_login_like'%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>