<% content_for(:title, t('.title')) %>
<div class="pb-6 sm:pb-8 lg:pb-12 mt-20">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <p class="text-gray-600 mb-8">
      あなたの役に立ちそうな情報をピックアップします。<br>
      それぞれの選択肢の中から、どちらに当てはまるか選んでください。<br>
    </p>

    <%= form_with url: answer_questions_path, method: 'get' do |f| %>
      <div class= 'font-serif xl:text-lg'>Web系のサービスやデザインの作成に関わった経験は？</div>
      <div class="mb-6 md:mb-8">
        <%= f.radio_button :answer1, "A", required: true %> 全くない
        <%= f.radio_button :answer1, "B" %> 少しはある
      </div>

      <div class= 'font-serif xl:text-lg'>あなたがデザインする際に重視したいのは？</div>
      <div class="mb-6 md:mb-8">
        <%= f.radio_button :answer2, "A", required: true %> 使いやすさ
        <%= f.radio_button :answer2, "B" %> おしゃれさ
      </div>

      <div class= 'font-serif xl:text-lg'>あなたの学習スタイルは？</div>
      <div class="md:mb-8">
        <%= f.radio_button :answer3, "A", required: true %> まずは基本を抑える
        <%= f.radio_button :answer3, "B" %> 手を動かしながら覚える
      </div>

      <%= f.submit "回答する", class: "btn bg-green-700 hover:bg-green-600 text-white font-serif rounded-lg" %>
    <% end %>
  </div>
</div>
