<div class='container mx-auto text-gray-600 text-2xl font-serif'>
  <%= @list.name %>
</div>

<div class="container mx-auto pt-3 grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 mt-20 pb-16">
  <% @list.design_tips.each do |design_tip| %>
    <div class="bg-white flex md:flex-row rounded-lg shadow-lg">
      <div class="flex flex-col place-content-between gap-2 p-4 lg:p-6">
        <div class="text-brown text-xl font-serif hover:text-yellow-900">
          <%= link_to design_tip.title, design_tip.url, target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <p class="text-gray-500 text-sm"><%= design_tip.guidance %></p>
        <div class="my-5 flex place-content-between">
          <%= render 'design_tips/tag_list', tag_list: design_tip.tag_list %>
          <% if logged_in? %>
            <%= render 'design_tips/like_button', design_tip: design_tip %>
          <% else %>
            <%= render 'design_tips/before_login_like'%>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
