<div id="<%= dom_id design_tip %>", class='font-serif'>
  <div class="my-5">
    <strong class="block font-medium mb-1">Title</strong>
    <%= design_tip.title %>
  </div>

  <div class="my-5">
    <strong class="block font-medium mb-1">Guidance</strong>
    <%= design_tip.guidance %>
  </div>

  <div class="my-5">
    <strong class="block font-medium mb-1">Url</strong>
    <%= design_tip.url.truncate(24) %>
  </div>

  <% if action_name != "show" %>
    <%= link_to t('admin.design_tips.show.title'), admin_design_tip_path(design_tip), class: "btn btn-outline outline-green-800 text-green-800 hover:text-white hover:bg-green-800 rounded-lg" %>
    <%= link_to t('admin.design_tips.edit.title'), edit_admin_design_tip_path(design_tip), class: "btn btn-outline outline-green-800 text-green-800 hover:text-white hover:bg-green-800 rounded-lg" %>
    <hr class="mt-6">
  <% end %>
</div>
