<% content_for(:title, t('.title')) %>
<div class="pb-6 sm:pb-8 lg:pb-12 mt-20">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class='font-serif text-gray-600 text-xl mb:text-3xl lg:text-4xl py-12'>Design Trip</div>
    <p class="text-gray-600 mb-8">
      世の中には色々なデザインがあります。<br>
      いいデザインを見つける旅に出てみましょう！<br>
      <br>
      ピンをクリックすると表示される地域名から<br>
      地域毎のWebサイトのリンク集にアクセスできます。<br>
    </p>
  </div>
</div>

<div class='flex justify-center pb-8'>
  <div id='map'></div>
</div>

<% @maps.each do |map| %>
  <input type="checkbox" id="my-modal-<%= map.id %>" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box relative">
      <label for="my-modal-<%= map.id %>" class="btn btn-sm btn-circle bg-green-800 hover:bg-green-700 text-white absolute right-2 top-2">✕</label>
      <div class="pb-6 sm:pb-8 lg:pb-12 mt-20">
        <div class="flex justify-between items-center max-w-screen-2xl px-4 md:px-8 mx-auto flex-col">
          <div class='py-4'>
            <div class='font-serif text-gray-600 text-xl mb:text-3xl lg:text-4xl py-4 lg:py-12'><%= map.name%>のデザイン</div>
          </div>

          <div class="flex">
            <div class="relative top-12 left-12 z-10 -ml-12 overflow-hidden md:top-16 md:left-16 lg:ml-0">
              <%= image_tag "trip_images/#{map.id}_1.jpg", loading: "lazy", class: "w-96 h-64 object-cover mx-auto rounded-lg" %>
            </div>

            <div class="overflow-hidden">
              <%= image_tag "trip_images/#{map.id}_2.jpg", loading: "lazy", class: "w-96 h-64 object-cover mx-auto rounded-lg" %>
            </div>
          </div>

        </div>
      </div>

      <div class="container mx-auto pt-3 gap-8 md:gap-12 xl:gap-16 mt-20 pb-16">
        <div class='flex justify-center flex-col'>
          <% @map_details.each do |map_detail| %>
            <% if map_detail.map_id == map.id %>
              <%= link_to map_detail.name, map_detail.url, class: 'text-center text-brown text-xl font-serif hover:text-yellow-900 mb-8', target: :_blank, rel: "noopener noreferrer" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<style>
#map {
  height: 700px;
  width: 1400px;
  filter: sepia(.60);
}
</style>

<script>
let map;
let geocoder;
let marker = [];
let infoWindow = [];
const maps = gon.maps;
const display = document.getElementById('display');

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat:35.68, lng:139.76},
    zoom: 2,
  });

  for (let i = 0; i < maps.length; i++) {
    marker[i] = new google.maps.Marker({
      map: map,
      position: {
        lat: maps[i].latitude,
        lng: maps[i].longitude
      },
      icon: '<%= asset_path("pin.png") %>'
    });

    infoWindow[i] = new google.maps.InfoWindow({
      content: `<label for="my-modal-${maps[i].id}">${maps[i].name}</label>`,
    });
    
    marker[i].addListener('click', function() {
      infoWindow[i].open(map, marker[i]);
    });
  }
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google, :map_key) %>&callback=initMap" async defer></script>
