<% content_for(:title, t('.title')) %>
<div class="pb-6 sm:pb-8 lg:pb-12 mt-20">
  <div class="flex justify-between items-center max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div>
      <div class='font-serif text-gray-600 text-xl md:text-3xl py-12'><%= @map.name%>のデザイン</div>
      <%= link_to '地図に戻る', maps_path, class: 'btn btn-sm bg-green-700 hover:bg-green-600 text-white font-serif font-light rounded-full' %>
    </div>

    <div class="mb-12 flex md:mb-16">
      <div class="relative top-12 left-12 z-10 -ml-12 overflow-hidden md:top-16 md:left-16 lg:ml-0">
        <%= image_tag "trip_images/#{@map.id}_1.jpg", loading: "lazy", class: "w-96 h-64 object-cover mx-auto rounded-lg" %>
      </div>

      <div class="overflow-hidden">
        <%= image_tag "trip_images/#{@map.id}_2.jpg", loading: "lazy", class: "w-96 h-64 object-cover mx-auto rounded-lg" %>
      </div>
    </div>

  </div>
</div>

<div class="container mx-auto pt-3 grid sm:grid-cols-2 gap-8 md:gap-12 xl:gap-16 mt-20 pb-16">
  <% @map_details.each do |map_detail| %>
    <div class='flex justify-center'>
      <% if map_detail.map_id == @map.id %>
        <%= link_to map_detail.name, map_detail.url, class: 'bg-white rounded-lg w-96 text-center text-brown text-xl font-serif hover:text-yellow-900' %>
      <% end %>
    </div>
  <% end %>
</div>