<div class="bg-white flex md:flex-row rounded-lg shadow-lg">
  <div class="flex flex-col place-content-between gap-2 p-4 lg:p-6">
    <div class="text-brown text-xl font-serif hover:text-yellow-900">
      <%= link_to design_tip.title, design_tip.url, target: :_blank, rel: "noopener noreferrer" %>
    </div>
    <p class="text-gray-500 text-sm"><%= design_tip.guidance %></p>
    <div class="my-2 flex place-content-between">
      <div class='flex gap-1 md:gap-3'><%= render 'design_tips/tag_list', tag: design_tip.tags.pluck(:name) %></div>
      <div class='flex gap-1 md:gap-2'>
        <% if logged_in? %>
          <%= render 'design_tips/like_button', design_tip: design_tip %>
          <% if request.path == likes_design_tips_path %>
            <%= render 'design_tips/list_button', design_tip: design_tip %>
          <% end %>
        <% else %>
          <%= render 'design_tips/before_login_like', design_tip: design_tip %>
        <% end %>
      </div>
    </div>

    <div class="flex place-content-between">
      <div class="flex text-sm gap-1 text-gray-500">評価 :
        <span class="star-rating">
          <span class="star-rating-front" style="width: <%= design_tip.average_score(design_tip.id, percentage: true) %>%;">★★★★★</span>
          <span class="star-rating-back">★★★★★</span>
        </span> 
        <div><%= design_tip.average_score(design_tip.id) %>点</div>
      </div>
      <div class="text-right text-gray-400 hover:bg-amber-100 rounded-lg">
        <% if logged_in? %>
          <%= render 'design_tips/review', design_tip: design_tip %>
        <% else %>
          <%= render 'design_tips/before_login_review', design_tip: design_tip %>
        <% end %>
      </div>
    </div>
  </div>
</div>
