<div id="<%= dom_id design_tip %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= design_tip.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Guidance:</strong>
    <%= design_tip.guidance %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= design_tip.url %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this design tip", design_tip, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this design tip', edit_design_tip_path(design_tip), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
