<div class="col-sm-12 col-lg-4 mb-3">
  <div id="design_tip-id-<%= design_tip.id %>">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to design_tip.title, design_tip.url, target: :_blank, rel: "noopener noreferrer" %>
        </h4>
        <% if logged_in? %>
          <%= render 'like_button', design_tip: design_tip %>
        <% end %>
        <p class="card-text"><%= design_tip.guidance %></p>
        <div class="my-5">
          <% design_tip.categories.each do|category| %>
            <%= link_to category.name, '#', class: 'badge rounded-pill bg-primary'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
