<label for="my-modal-<%= design_tip.id %>" class="text-sm">評価する</label>
<input type="checkbox" id="my-modal-<%= design_tip.id %>" class="modal-toggle" />
<div class="modal">
  <div class="modal-box relative">
    <label for="my-modal-<%= design_tip.id %>" class="btn btn-sm btn-circle bg-green-800 hover:bg-green-700 text-white absolute right-2 top-2">✕</label>
      <div class="flex justify-between items-center my-8">
        <div class="text-gray-500">この情報の評価は？</div>
        <%= form_with model: @review, url: design_tip_reviews_path(design_tip) do |f| %>
          <div class="flex gap-4">
            <div class="post_form">
              <%= f.radio_button :score, 5 ,id: "star1-#{design_tip.id}"%>
              <label for="star1-<%= design_tip.id %>">★</label>

              <%= f.radio_button :score, 4 ,id: "star2-#{design_tip.id}"%>
              <label for="star2-<%= design_tip.id %>">★</label>

              <%= f.radio_button :score, 3 ,id: "star3-#{design_tip.id}"%>
              <label for="star3-<%= design_tip.id %>">★</label>

              <%= f.radio_button :score, 2 ,id: "star4-#{design_tip.id}"%>
              <label for="star4-<%= design_tip.id %>">★</label>

              <%= f.radio_button :score, 1 ,id: "star5-#{design_tip.id}"%>
              <label for="star5-<%= design_tip.id %>">★</label>
              <%= f.hidden_field :design_tip_id, value: design_tip.id %>
            </div>
            <%= f.submit '評価を送信', class: "submit text-gray-400 rounded-lg mt-1" %>
          </div>
        <% end %>
      </div>
  </div>
</div>
