<% content_for(:title, t('.title')) %>
<div class='container mx-auto flex pt-10'>
  <%= render 'home/search_form' %>
</div>

<div class='my-12 shadow bg-zinc-100 hidden xl:flex'>
<hr>
  <div class="flex container mx-auto" >
    <% @tag_list.each do|tag| %>
      <%= link_to tag.name,{:controller=>"design_tips",:action=>"index",:q=>{:tags_name_cont=>tag.name}}, { class: "text-base font-serif text-gray-500 hover:text-emerald-600 m-4" } %>
    <% end %>
  </div>
<hr>
</div>

<div class='xl:hidden'>
  <div class="dropdown dropdown-hover my-8">
    <label tabindex="0" class="btn btn-outline outline-green-800 text-green-800 font-serif ml-2 lg:ml-0 hover:text-white hover:bg-green-800 rounded-lg">情報ジャンル</label>
    <ul tabindex="0" class="dropdown-content menu p-1 shadow bg-white rounded-lg w-52 h-164 font-normal text-sm">
      <li>
        <% @tag_list.each do|tag| %>
          <%= link_to tag.name,{:controller=>"design_tips",:action=>"index",:q=>{:tags_name_cont=>tag.name}}, { class: "text-base font-serif text-gray-500 hover:text-emerald-600" } %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

  <% if params[:q].present? && params[:q][:tags_name_cont].present? %>
    <div class='container mx-auto text-gray-600 text-lg md:text-2xl font-serif'>
      <%= params[:q][:tags_name_cont] %>の情報一覧
    </div>
  <% end %>

<div data-controller="view">
  <div class="flex justify-around pt-20">
    <a class="tab is-active text-gray-500 hover:text-brown active:text-brown text-lg md:text-2xl font-serif mb-4 md:mb-6" aria-current="page" data-view-target="menu" data-action="view#menuClick">Webサイト</a>
    <a class="tab not-active text-gray-500 hover:text-brown active:text-brown text-lg md:text-2xl font-serif mb-4 md:mb-6" data-view-target="menu" data-action="view#menuClick">書籍</a>
    <a class="tab not-active text-gray-500 hover:text-brown active:text-brown text-lg md:text-2xl font-serif mb-4 md:mb-6" data-view-target="menu" data-action="view#menuClick">動画</a>
  </div>

  <div data-view-target="content" >
    <div class="container mx-auto pt-3 grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 mt-20 pb-16">
      <% @design_tips.each do |design_tip| %>
        <% if design_tip.medium == 'web' %>
          <%= render 'design_tip', design_tip: design_tip %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="hidden" data-view-target="content" >
    <div class="container mx-auto pt-3 grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 mt-20 pb-16">
      <% @design_tips.each do |design_tip| %>
        <% if design_tip.medium == 'book' %>
          <%= render 'design_tip', design_tip: design_tip %>
        <% end %>
      <% end %>
    </div>
  </div>

    <div class="hidden" data-view-target="content" >
    <div class="container mx-auto pt-3 grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 mt-20 pb-16">
      <% @design_tips.each do |design_tip| %>
        <% if design_tip.medium == 'movie' %>
          <%= render 'design_tip', design_tip: design_tip %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
