<% content_for(:title, t('.title')) %>
<div class='flex justify-center pt-10'>
  <%= render 'home/search_form' %>
</div>

<hr class="mt-8">
<div class="flex" >
  <% @tag_list.each do|tag| %>
    <%= link_to tag.name,{:controller=>"design_tips",:action=>"index",:q=>{:tags_name_cont=>tag.name}}, { class: "text-base font-serif text-gray-500 hover:text-emerald-600 m-4" } %>
  <% end %>
</div>
<hr>

<% if params[:q].present? && params[:q][:tags_name_cont].present? %>
  <div class='text-gray-500 text-2xl lg:text-3xl font-serif pt-10'>
    <%= params[:q][:tags_name_cont] %>の情報一覧
  </div>
<% end %>

<div data-controller="view">
  <div class="flex justify-around pt-20">
    <a class="tab is-active text-gray-500 hover:text-brown active:text-brown text-2xl lg:text-3xl font-serif mb-4 md:mb-6" aria-current="page" data-view-target="menu" data-action="view#menuClick">Webサイト</a>
    <a class="tab not-active text-gray-500 hover:text-brown active:text-brown text-2xl lg:text-3xl font-serif mb-4 md:mb-6" data-view-target="menu" data-action="view#menuClick">書籍</a>
    <a class="tab not-active text-gray-500 hover:text-brown active:text-brown text-2xl lg:text-3xl font-serif mb-4 md:mb-6" data-view-target="menu" data-action="view#menuClick">動画</a>
  </div>

  <div data-view-target="content" >
    <div class="container pt-3 grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 mt-20 pb-16">
      <% @design_tips.each do |design_tip| %>
        <% if design_tip.medium == 'web' %>
          <div class="bg-white flex md:flex-row rounded-lg shadow-lg overflow-hidden">
            <div class="flex flex-col  place-content-between gap-2 p-4 lg:p-6">
              <div class="text-brown text-xl font-serif hover:text-yellow-900">
                <%= link_to design_tip.title, design_tip.url, target: :_blank, rel: "noopener noreferrer" %>
              </div>
              <p class="text-gray-500 text-sm"><%= design_tip.guidance %></p>
              <div class="my-5 flex place-content-between">
                <%= render 'tag_list', tag_list: design_tip.tag_list %>
                <% if logged_in? %>
                  <%= render 'like_button', design_tip: design_tip %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="hidden" data-view-target="content" >
    <div class="container pt-3 grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 mt-20 pb-16">
      <% @design_tips.each do |design_tip| %>
        <% if design_tip.medium == 'book' %>
          <div class="bg-white flex md:flex-row rounded-lg shadow-lg overflow-hidden">
            <div class="flex flex-col  place-content-between gap-2 p-4 lg:p-6">
              <div class="text-brown text-xl font-serif hover:text-yellow-900">
                <%= link_to design_tip.title, design_tip.url, target: :_blank, rel: "noopener noreferrer" %>
              </div>
              <p class="text-gray-500 text-sm"><%= design_tip.guidance %></p>
              <div class="my-5 flex place-content-between">
                <%= render 'tag_list', tag_list: design_tip.tag_list %>
                <% if logged_in? %>
                  <%= render 'like_button', design_tip: design_tip %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

    <div class="hidden" data-view-target="content" >
    <div class="container pt-3 grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 mt-20 pb-16">
      <% @design_tips.each do |design_tip| %>
        <% if design_tip.medium == 'movie' %>
          <div class="bg-white flex md:flex-row rounded-lg shadow-lg overflow-hidden">
            <div class="flex flex-col  place-content-between gap-2 p-4 lg:p-6">
              <div class="text-brown text-xl font-serif hover:text-yellow-900">
                <%= link_to design_tip.title, design_tip.url, target: :_blank, rel: "noopener noreferrer" %>
              </div>
              <p class="text-gray-500 text-sm"><%= design_tip.guidance %></p>
              <div class="my-5 flex place-content-between">
                <%= render 'tag_list', tag_list: design_tip.tag_list %>
                <% if logged_in? %>
                  <%= render 'like_button', design_tip: design_tip %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
