<div class="font-serif text-2xl text-center">検索結果: <%= @results.count %>件</div>
<div class='flex justify-center pt-10'>
  <%= render 'home/search_form' %>
</div>

<div class="container pt-3 grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 mt-20 pb-16">
  <% @results.each do |design_tip| %>
    <div class="bg-white flex md:flex-row rounded-lg shadow-lg overflow-hidden">
      <div class="flex flex-col  place-content-between gap-2 p-4 lg:p-6">
        <div class="text-brown text-xl font-serif hover:text-yellow-900">
          <%= link_to design_tip.title, design_tip.url, target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <p class="text-gray-500 text-sm"><%= design_tip.guidance %></p>
        <div class="my-5 flex place-content-between">
          <%= render 'tag_list', tag_list: design_tip.tag_list %>
          <% if logged_in? %>
            <%= render 'like_button', design_tip: design_tip %>
          <% else %>
            <%= render 'design_tips/before_login_like'%>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
