<header class="container mx-auto flex justify-between font-serif items-center py-4 md:py-8 mb-8 md:mb-12 xl:mb-16">
  <%= link_to '誰でもデザイン', root_path, class: 'inline-flex items-center ml-2 lg:ml-0 text-black-800  text-md md:text-3xl font-bold gap-2.5" aria-label="logo' %>
  <div class='flex items-center gap-4'>
    <div class="dropdown dropdown-hover dropdown-end">
      <label tabindex="0" class="text-green-800 hover:text-green-600 text-xs md:text-base tracking-tight md:tracking-normal">サブコンテンツ</label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-white rounded-lg w-60 h-50 text-sm">
        <li><%= link_to 'トレンド情報', trend_path, class: 'text-gray-500 hover:text-green-800 active:text-green-900 active:bg-white' %></li>
        <li><%= link_to 'カラー抽出', image_path, class: 'text-gray-500 hover:text-green-800 active:text-green-900 active:bg-white' %></li>
        <li><%= link_to 'UI・UXクイズ', quiz_path, class: 'text-gray-500 hover:text-green-800 active:text-green-900 active:bg-white' %></li>
        <li><%= link_to 'Design Trip', map_path, class: 'text-gray-500 hover:text-green-800 active:text-green-900 active:bg-white' %></li>
      </ul>
    </div>
    <nav class="text-sm md:text-lg lg:flex gap-12 font-semibold items-center mr-2 lg:mr-0">
      <div class="dropdown dropdown-hover dropdown-end">
        <label tabindex="0" class="w-10 h-10 outline outline-1 outline-green-800 flex justify-center items-center text-green-800 hover:text-white hover:bg-green-800 rounded-full"><svg class="icons-person"><use xlink:href="#icons-person"></use></svg></label>
        <ul tabindex="0" class="dropdown-content menu p-1 shadow bg-white rounded-lg w-52 h-24 font-normal text-sm">
          <li><%= link_to 'ユーザー登録', new_user_path, class: 'text-gray-500 hover:text-green-800 active:text-green-900 active:bg-white' %></li>
          <li><%= link_to 'ログイン', login_path, class: 'text-gray-500 hover:text-green-800 active:text-green-900 active:bg-white' %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
