<header class="container mx-auto flex justify-between font-serif items-center py-4 md:py-8 mb-8 md:mb-12 xl:mb-16">
  <%= link_to '誰でもデザイン', root_path, class: 'inline-flex items-center ml-2 lg:ml-0 text-black-800 text-md md:text-3xl font-bold gap-2.5" aria-label="logo' %>
  <div class='flex items-center gap-4'>
    <%= link_to(notifications_path) do%>
      <div class='box'>
        <div class='text-green-800'>
          <% if current_user.notification_reads.exists?(checked: false) %>
            <svg class="icons-circle"><use xlink:href="#icons-circle"></use></svg>
          <% end %>
          <svg class="icons-notifications"><use xlink:href="#icons-notifications"></use></svg>
        </div>
      </div>
    <% end %>
    <nav class="text-sm md:text-lg lg:flex gap-12 font-semibold items-center mr-2 lg:mr-0">
      <div class="dropdown dropdown-hover dropdown-end">
        <label tabindex="0" class="btn btn-outline outline-green-800 text-green-800 hover:text-white hover:bg-green-800 rounded-lg"><svg class="icons-person"><use xlink:href="#icons-person"></use></svg>ユーザーメニュー</label>
        <ul tabindex="0" class="dropdown-content menu p-1 shadow bg-white rounded-lg w-52 h-48 font-normal text-sm">
          <li><%= link_to '全てのお気に入り', likes_design_tips_path, class: 'text-gray-500 hover:text-green-800 active:text-green-900 active:bg-white' %></li>
          <li><%= link_to 'お気に入りリスト', list_design_tips_path, class: 'text-gray-500 hover:text-green-800 active:text-green-900 active:bg-white' %></li>
          <li><%= link_to '情報メモ ※準備中', '#', class: 'text-gray-500 hover:text-green-800 active:text-green-900 active:bg-white' %></li>
          <li><%= link_to 'ログアウト', logout_path, class: 'text-gray-500 hover:text-green-800 active:text-green-900 active:bg-white', data: { turbo_method: :delete } %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
