<header class="container mx-auto flex justify-between font-serif items-center py-4 md:py-8 mb-8 md:mb-12 xl:mb-16">
  <%= link_to '誰でもデザイン', root_path, class: 'inline-flex items-center text-black-800 text-xl md:text-3xl font-bold gap-2.5" aria-label="logo' %>
  <nav class="text-sm md:text-lg lg:flex gap-12 font-semibold items-center">
    <div class="dropdown dropdown-hover dropdown-end">
      <label tabindex="0" class="btn btn-outline outline-green-800 text-green-800 hover:text-white hover:bg-green-800 rounded-lg"><span class="material-icons">person</span>ユーザーメニュー</label>
      <ul tabindex="0" class="dropdown-content menu p-1 shadow bg-white rounded-lg w-52 h-48 font-normal text-sm">
        <li><%= link_to '全てのお気に入り', likes_design_tips_path, class: 'text-gray-500 hover:text-green-800 active:text-green-900 active:bg-white' %></li>
        <li><%= link_to 'お気に入りリスト', list_design_tips_path, class: 'text-gray-500 hover:text-green-800 active:text-green-900 active:bg-white' %></li>
        <li><%= link_to '情報メモ', '#', class: 'text-gray-500 hover:text-green-800 active:text-green-900 active:bg-white' %></li>
        <li><%= link_to 'ログアウト', logout_path, class: 'text-gray-500 hover:text-green-800 active:text-green-900 active:bg-white', data: { turbo_method: :delete } %></li>
      </ul>
    </div>
  </nav>
</header>
