<div class="pb-6 sm:pb-8 lg:pb-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="font-serif text-5xl py-12">デザインって何から始めたらいいの？</div>
    <p class="max-w-md text-gray-600 mb-8">
    そんなあなたに向けて、まず始めに知っておきたいこと<br>
    やっておきたいことをまとめました。<br>
    まずはここから始めてみましょう。
    </p>
  </div>
</div>
<div class="bg-white py-6 sm:py-8 lg:py-20">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="md:h-80 flex flex-col sm:flex-row bg-cream rounded-lg overflow-hidden">
      <!-- image - start -->
      <div class="w-full sm:w-1/2 lg:w-2/5 h-48 sm:h-auto order-first sm:order-none bg-gray-300">
        <%= image_tag "pg.jpg" %>
      </div>

      <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
        <h2 class="font-serif text-gray-800 text-xl md:text-2xl lg:text-4xl font-bold mb-4">知る</h2>

        <p class="text-gray-600 mb-8">
          何事も基本が大切。まずは基本を学んでいきましょう。<br>
          こちらの動画でデザインの基本的な考え方を知ることができます。<br>
          そもそもデザインとは何なのか？動画を参考に考えてみましょう。<br>
        </p>
            <div class="text-indigo-500 hover:text-indigo-700">
              <%= link_to("【デザインの基本】そもそもデザインとは？", "https://www.youtube.com/watch?v=d0-20fL652A") %>
            </div>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-20">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="md:h-80 flex flex-col sm:flex-row bg-cream rounded-lg overflow-hidden">
      <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
        <h2 class="font-serif text-gray-800 text-xl md:text-2xl lg:text-4xl font-bold mb-4">見る</h2>

        <p class="max-w-md text-gray-600 mb-8">
        デザインを見て学んでみましょう。<br>
        bookma!は素敵なデザインが集められています。<br>
        なぜ綺麗に見えるのか？<br>
        意識してデザインのヒントを探してみましょう。<br>
        <div class="text-indigo-500 hover:text-indigo-700">
          <%= link_to("bookma!", "https://bookma.org/") %>
        </div>
        </p>
      </div>

      <div class="w-full sm:w-1/2 lg:w-2/5 h-48 sm:h-auto order-first sm:order-none bg-gray-300">
        <%= image_tag "pa.jpg" %>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-20">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="md:h-80 flex flex-col sm:flex-row bg-cream rounded-lg overflow-hidden">
      <!-- image - start -->
      <div class="w-full sm:w-1/2 lg:w-2/5 h-48 sm:h-auto order-first sm:order-none bg-gray-300">
        <%= image_tag "pp.jpg" %>
      </div>

      <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
        <h2 class="font-serif text-gray-800 text-xl md:text-2xl lg:text-4xl font-bold mb-4">実践する</h2>

        <p class="max-w-md text-gray-600 mb-8">
        学んだことは実践してみましょう。<br>
        以下の書籍が非常に役に立ちます。<br>
        丁寧な解説をもとにおしゃれなサイトが作れるので<br>
        最初の一冊に最適です。<br>
        学んでいてとても楽しくなりますよ。<br>
        <div class="text-indigo-500 hover:text-indigo-700">
          <%= link_to("1冊ですべて身につくHTML&CSSとWebデザイン入門講座", "https://www.amazon.co.jp/1%E5%86%8A%E3%81%A7%E3%81%99%E3%81%B9%E3%81%A6%E8%BA%AB%E3%81%AB%E3%81%A4%E3%81%8FHTML-CSS%E3%81%A8Web%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E5%85%A5%E9%96%80%E8%AC%9B%E5%BA%A7-Mana/dp/4797398892") %>
        </div>
        <br>
        </p>
      </div>
    </div>
  </div>
</div>
