<% content_for(:title, t('.title')) %>
<div class="pb-6 sm:pb-8 lg:pb-12 mt-20">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="font-serif text-gray-600 text-xl mb:text-3xl lg:text-4xl py-12">サービスの運用について</div>
    <p class="text-gray-600 mb-8">
    作成したサービスは多くの人に知ってもらって初めて価値が生まれます。<br>
    サービスの拡散や運用についての情報にも目を通しておきましょう。<br>
    </p>
  </div>
</div>

<div class="bg-gray py-6 lg:py-20">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
      <div class="w-full sm:w-1/2 lg:w-2/5 h-30 md:h-auto order-first sm:order-none bg-gray-300">
        <%= image_tag "seo.jpg", loading: "lazy", class: "w-full h-full object-cover object-center" %>
      </div>
      <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
        <div class="font-serif text-gray-600 text-xl md:text-xl lg:text-2xl mb-4">SEO対策</div>
        <p class="text-gray-600 text-xs lg:text-base mb-8">
          SEOとはサービスが検索で見つかりやすくするための施策のことです。<br>
          サービスの認知度向上のために必要なことの一つなので<br>
          以下の情報を参考にまずは概要を掴んでいきましょう。<br>
        </p>
        <div class="flex flex-col text-brown lg:text-xl font-serif">
          <%= link_to "・SEO対策とは？ホームページ初心者が制作時に意識すべきポイント6つ", "https://www.xserver.ne.jp/bizhp/homepage-seo/?gclid=Cj0KCQjw8e-gBhD0ARIsAJiDsaXJfimiA0M4ePtqSZTgAsV2rTq4BZTpOnm3t9RunKu-hzGnQi1p0EwaAgJGEALw_wcB", class: 'hover:text-yellow-900', target: :_blank, rel: "noopener noreferrer" %>
          <%= link_to "・SEOとは？初心者がすぐやるべき基本対策5つをわかりやすく解説】", "https://satori.marketing/marketing-blog/seo-measures/", class: 'hover:text-yellow-900 my-2', target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray py-6 lg:py-20">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
      <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
        <div class="font-serif text-gray-600 text-xl md:text-xl lg:text-2xl mb-4">Webマーケティング</div>
        <p class="text-gray-600 text-xs lg:text-base mb-8">
          Webマーケティングとは、Webサービスを用いて行われるマーケティング活動のこと。<br>
          Webに関わる人なら誰もが知っておいて損はないことなので基本だけでも抑えておきましょう。<br>
        </p>
        <div class="flex flex-col text-brown lg:text-xl font-serif">
          <%= link_to "・Webマーケティングとは？【初心者向け】基礎知識と成果の上げ方", "https://mieru-ca.com/blog/web_marketing/", class: 'hover:text-yellow-900', target: :_blank, rel: "noopener noreferrer" %>
          <%= link_to "・Webマーケティングとは？基礎知識や施策など初心者にわかりやすく解説！", "https://seolaboratory.jp/29896/", class: 'hover:text-yellow-900 my-2', target: :_blank, rel: "noopener noreferrer" %>
        </div>
      </div>
      <div class="w-full sm:w-1/2 lg:w-2/5 h-30 md:h-auto order-first sm:order-none bg-gray-300">
        <%= image_tag "marketing.jpg", loading: "lazy", class: "w-full h-full object-cover object-center" %>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray pt-6 pb-12 lg:py-20">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
      <div class="w-full sm:w-1/2 lg:w-2/5 h-30 md:h-auto order-first sm:order-none bg-gray-300">
        <%= image_tag "branding.jpg", loading: "lazy", class: "w-full h-full object-cover object-center" %>
      </div>
      <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
        <div class="font-serif text-gray-600 text-xl md:text-xl lg:text-2xl mb-4">サービスのブランディング</div>
        <p class="text-gray-600 text-xs lg:text-base mb-8">
          サービスのブランディングにはさまざまなメリットがあります。<br>
          発展的な内容になりますが、自分のサービスを好きになってもらうためにも<br>
          ブランディングに対する意識も持っておくようにしましょう。<br>
        </p>
        <div class="flex flex-col text-brown lg:text-xl font-serif">
          <%= link_to "・これだけ読めば大丈夫！Webブランディングの基本から実践4ステップ", "https://trasp-inc.com/blog/marketing/branding/web-branding/", class: 'hover:text-yellow-900', target: :_blank, rel: "noopener noreferrer" %>
          <%= link_to "・初心者向け！ブランディングをザックリ理解しよう", "https://re-v.co.jp/webmali/2020/06/23/beginner-branding/", class: 'hover:text-yellow-900 my-2', target: :_blank, rel: "noopener noreferrer" %>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>31ss