<div class="pb-6 sm:pb-8 lg:pb-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">

    <div class="flex flex-col lg:flex-row justify-between gap-6 sm:gap-10 md:gap-16">
      <div class="xl:w-7/12 flex flex-col justify-center sm:text-center lg:text-left lg:py-12 xl:py-24">
        <h1 class="text-gray-600 text-2xl lg:text-5xl font-serif mb-8 md:mb-12">
          ここから始まるデザインがある。
        </h1>

        <p class="lg:w-4/5 text-gray-500 xl:text-lg leading-relaxed mb-8 md:mb-12">
          誰でもデザインは、Web系デザイン初学者向けの情報検索サービスです。
        </p>

        <label for="my-modal-3" class="md:text-xl text-brown hover:text-yellow-900 font-serif mb-8 md:mb-12">情報をピックアップする</label>
        <input type="checkbox" id="my-modal-3" class="modal-toggle" />
        <div class="modal">
          <div class="modal-box w-1/2">
            <label for="my-modal-3" class="btn btn-sm btn-circle bg-green-800 hover:bg-green-700 text-white absolute right-2 top-2">✕</label>
            <div class="pb-6 sm:pb-8 lg:pb-12 mt-20">
              <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
                  <p class="text-gray-600 mb-16">
                    質問に対する回答を元に情報をピックアップします。<br>
                  </p>

                <%= turbo_frame_tag 'search' do %>
                  <%= form_with(url: root_path, method: 'get', remote: true) do |f| %>
                    <div class= 'font-serif xl:text-lg'>Web系のサービスやデザインの作成に関わった経験は？</div>
                    <div class="mb-6 md:mb-8">
                      <%= f.radio_button :answer1, "A", required: true %> 全くない
                      <%= f.radio_button :answer1, "B" %> 少しはある
                    </div>

                    <div class= 'font-serif xl:text-lg'>デザインする際に重視したいのは？</div>
                    <div class="mb-6 md:mb-8">
                      <%= f.radio_button :answer2, "A", required: true %> 使いやすさ
                      <%= f.radio_button :answer2, "B" %> おしゃれさ
                    </div>

                    <div class= 'font-serif xl:text-lg'>学習スタイルは？</div>
                    <div class="md:mb-8">
                      <%= f.radio_button :answer3, "A", required: true %> まずは基本を抑える
                      <%= f.radio_button :answer3, "B" %> 手を動かしながら覚える
                    </div>

                    <%= f.submit "回答する", data: { turbo_frame: 'search' }, class: "btn bg-green-700 hover:bg-green-600 text-white font-serif rounded-lg" %>
                  <% end %>

                  <div class="container mx-auto gap-8 md:gap-12 xl:gap-16 pt-8">
                    <% @answer_design_tip.each do |answer_design_tip| %>
                      <% if answer_design_tip.answer.answer_code == @answer_code %>
                        <%= render 'design_tips/design_tip', design_tip: answer_design_tip.design_tip %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="flex font-serif flex-row justify-center lg:justify-start gap-2 lg:gap-8 items-center">
          <%= render 'search_form' %>
        </div>
      </div>

      <div class="xl:w-5/12 h-48 lg:h-auto rounded-lg">
        <%= image_tag "top.jpg" %>
      </div>
    </div>
  </div>
</div>

<div class='my-12 shadow bg-zinc-100 hidden xl:flex'>
<hr>
  <div class="flex container mx-auto" >
    <% @tag_list.each do|tag| %>
      <%= link_to tag.name, design_tips_path(q: { tags_name_cont: tag.name }), { class: "text-base font-serif text-gray-500 hover:text-emerald-600 m-4" } %>
    <% end %>
  </div>
<hr>
</div>

<div class='xl:hidden'>
  <div class="dropdown dropdown-hover pt-36">
    <label tabindex="0" class="btn btn-outline outline-green-800 text-green-800 font-serif ml-2 lg:ml-0 hover:text-white hover:bg-green-800 rounded-lg">情報ジャンル</label>
    <ul tabindex="0" class="dropdown-content menu p-1 shadow bg-white rounded-lg w-52 h-164 font-normal text-sm">
      <li>
        <% @tag_list.each do|tag| %>
          <%= link_to tag.name, design_tips_path(q: { tags_name_cont: tag.name }), { class: "text-base font-serif text-gray-500 hover:text-emerald-600 m-4" } %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<% if logged_in? %>
  <div class='text-brown text-lg md:text-xl lg:text-3xl font-serif text-center pt-16 md:pt-36'>あなたにおすすめの情報</div>
  <% if @recommend_design_tips.present? %>
    <div class="container mx-auto pt-3 grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 mt-12 md:mt-20 pb-16">
      <% @recommend_design_tips.take(3).each do |design_tip| %>
        <%= render 'design_tips/design_tip', design_tip: design_tip %>
      <% end %>
    </div>
  <% else %>
    <div class='text-center text-gray-600 pb-20 font-serif'>お気に入り登録された情報がありません。情報をお気に入りしていただくと、<br>そちらをもとにあなたにおすすめの情報を表示します。</div>
  <% end %>
<% end %>

<div class='text-brown text-lg md:text-xl lg:text-3xl font-serif text-center pt-16 md:pt-36'>高評価の情報</div>
<div class="container mx-auto pt-3 grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 mt-12 md:mt-20 pb-16">
  <% @sort_design_tips.take(3).each do |design_tip| %>
    <%= render 'design_tips/design_tip', design_tip: design_tip %>
  <% end %>
</div>

<div data-controller="view">
  <div class="flex justify-around pt-20">
    <a class="tab is-active text-gray-500 hover:text-brown rounded-lg text-lg md:text-2xl font-serif mb-4 md:mb-6" aria-current="page" data-view-target="menu" data-action="view#menuClick">初心者はこちら</a>
    <a class="tab not-active text-gray-500 hover:text-brown rounded-lg text-lg md:text-2xl font-serif mb-4 md:mb-6" data-view-target="menu" data-action="view#menuClick">脱・初心者に向けて</a>
    <a class="tab not-active text-gray-500 hover:text-brown rounded-lg text-lg md:text-2xl font-serif mb-4 md:mb-6" data-view-target="menu" data-action="view#menuClick">サービスの運用について</a>
  </div>

  <div data-view-target="content" >
    <div class="pb-6 sm:pb-8 lg:pb-12 mt-20">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <div class="font-serif text-gray-600 text-xl md:text-3xl lg:text-4xl py-12">デザインって何から始めたらいいの？</div>
        <p class="max-w-md text-gray-600 mb-8">
        そんなあなたに向けて、まず始めに知っておきたいこと<br>
        やっておきたいことをまとめました。<br>
        まずはここから始めてみましょう。
        </p>
      </div>
    </div>

    <div class="bg-gray py-6 sm:py-8 lg:py-12">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
          <div class="w-full sm:w-1/2 lg:w-2/5 h-48 sm:h-auto order-first sm:order-none bg-gray-300">
            <%= image_tag "base.jpg", loading: "lazy", class: "w-full h-full object-cover object-center"%>
          </div>
          <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
            <div class="font-serif text-gray-600 text-xl lg:text-2xl mb-4">基本を知る</div>
            <p class="text-gray-600 text-xs lg:text-base mb-8">
              何事も基本から。<br>
              chot.designではデザインの基本的な考え方からHTML・CSSのコーディング、デザインツールの使い方まで<br>
              幅広く学ぶことができます。まずはこちらのサービスでwebデザインの基本に触れてみましょう。<br>
            </p>
            <div class="text-brown lg:text-xl font-serif hover:text-yellow-900">
              <%= link_to "・chot.design", "https://chot.design/", target: :_blank, rel: "noopener noreferrer" %>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray py-6 lg:py-20">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
          <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
            <div class="font-serif text-gray-600 text-xl lg:text-2xl mb-4">手を動かす</div>
            <p class="text-gray-600 text-xs lg:text-base mb-8">
              Webデザインに必須のコーディングついて、もう少し具体的に学んでいきましょう。<br>
              以下のサービスがとても役に立ちます。<br>
              実際に手を動かしながら理解を深めていきましょう。<br>
            </p>
            <div class="flex flex-col font-serif">
              <div class='flex items-end'>
                <%= link_to "・ドットインストール", "https://dotinstall.com/", class: 'text-brown lg:text-xl hover:text-yellow-900', target: :_blank, rel: "noopener noreferrer" %>
                <p class="text-gray-400">  #動画で</p>
              </div>
              <div class='flex items-end my-2'>
                <%= link_to "・サルワカ", "https://saruwakakun.com/", class: 'text-brown lg:text-xl hover:text-yellow-900', target: :_blank, rel: "noopener noreferrer" %>
                <p class="text-gray-400">  #テキストで</p>
              </div>
              <div class='flex items-end'>
                <%= link_to "・Progate", "https://prog-8.com/", class: 'text-brown lg:text-xl hover:text-yellow-900', target: :_blank, rel: "noopener noreferrer" %>
                <p class="text-gray-400">  #手軽に</p>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 lg:w-2/5 h-30 md:h-auto order-first sm:order-none bg-gray-300">
            <%= image_tag "move.jpg", loading: "lazy", class: "w-full h-full object-cover object-center" %>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray pt-6 pb-12 lg:py-20">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
          <div class="w-full sm:w-1/2 lg:w-2/5 h-30 md:h-auto order-first sm:order-none bg-gray-300">
            <%= image_tag "make.jpg", loading: "lazy", class: "w-full h-full object-cover object-center" %>
          </div>
          <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
            <div class="font-serif text-gray-600 text-xl lg:text-2xl mb-4">作ってみる</div>
            <p class="text-gray-600 text-xs lg:text-base mb-8">
              学んだことは実践してみましょう。以下の書籍が非常に役に立ちます。<br>
              丁寧な解説をもとにおしゃれなサイトが作れるので、最初の一冊に最適です。<br>
              学んでいてとても楽しくなりますよ。<br>
            </p>
            <div class="text-brown lg:text-xl font-serif hover:text-yellow-900">
              <%= link_to "・1冊ですべて身につくHTML&CSSとWebデザイン入門講座", "https://www.amazon.co.jp/1%E5%86%8A%E3%81%A7%E3%81%99%E3%81%B9%E3%81%A6%E8%BA%AB%E3%81%AB%E3%81%A4%E3%81%8FHTML-CSS%E3%81%A8Web%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E5%85%A5%E9%96%80%E8%AC%9B%E5%BA%A7-Mana/dp/4797398892", target: :_blank, rel: "noopener noreferrer" %>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray py-6 lg:py-20">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
          <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
            <div class="font-serif text-gray-600 text-xl lg:text-2xl mb-4">※権利の確認は忘れずに※</div>
            <p class="text-gray-600 text-xs lg:text-base mb-8">
              Webデザインに、フリー素材やテンプレートを利用する際は著作権等に注意しましょう。<br>
              トラブルを防ぐためにも早めに学んでおくに越したことはありません。<br>
              以下ページなどを参考に勉強しましょう。<br>
            </p>
            <div class="flex flex-col text-brown lg:text-xl font-serif">
              <%= link_to "・WEBデザイナー必見！著作権を侵害しないために注意すべきこと！", "https://japan-design.jp/design/0068/", class: 'hover:text-yellow-900', target: :_blank, rel: "noopener noreferrer" %>
              <%= link_to "・無料で自由に使えるは間違い！フリー素材を使うときの注意点を教えます", "https://www.mp-creative.jp/columns/764", class: 'hover:text-yellow-900 my-2', target: :_blank, rel: "noopener noreferrer" %>
            </div>
          </div>
          <div class="w-full sm:w-1/2 lg:w-2/5 h-30 md:h-auto order-first sm:order-none bg-gray-300">
            <%= image_tag "public.jpg", loading: "lazy", class: "w-full h-full object-cover object-center" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden" data-view-target="content" >
    <div class="pb-6 sm:pb-8 lg:pb-12 mt-20">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <div class="font-serif text-gray-600 text-xl mb:text-3xl lg:text-4xl py-12">脱・初心者に向けて</div>
        <p class="text-gray-600 mb-8">
        初心者からステップアップするために知っておきたいことをまとめました。<br>
        より良いデザインを作るための知見を得て、初心者の壁を越えていきましょう。<br>
        </p>
      </div>
    </div>

    <div class="bg-gray py-6 lg:py-20">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
          <div class="w-full sm:w-1/2 lg:w-2/5 h-30 md:h-auto order-first sm:order-none bg-gray-300">
            <%= image_tag "design_tool.jpg", loading: "lazy", class: "w-full h-full object-cover object-center" %>
          </div>
          <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
            <div class="font-serif text-gray-600 text-xl md:text-xl lg:text-2xl mb-4">デザインツールについて知る</div>
            <p class="text-gray-600 text-xs lg:text-base mb-8">
              デザインツールはWebデザインの強力な武器になります。<br>
              まずはどんなツールがあるか知ることから始めてみましょう。<br>
              色々と触れてみることで自分に合うものが見つかるはずです。<br>
            </p>
            <div class="flex flex-col text-brown lg:text-xl font-serif">
              <%= link_to "・無料で使えるWebデザインツールおすすめ8選【2023年版】", "https://www.sejuku.net/blog/105585", class: 'hover:text-yellow-900', target: :_blank, rel: "noopener noreferrer" %>
              <%= link_to "・おすすめのWebデザインツール特集【初心者でも使える！】", "https://kredo.jp/media/web-design-tool/", class: 'hover:text-yellow-900 my-2', target: :_blank, rel: "noopener noreferrer" %>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray py-6 lg:py-20">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
          <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
            <div class="font-serif text-gray-600 text-xl md:text-xl lg:text-2xl mb-4">レスポンシブ対応について知る</div>
            <p class="text-gray-600 text-xs lg:text-base mb-8">
              レスポンシブ対応とはデバイスの画面幅に合わせてレイアウトを変えること。<br>
              あらゆるデバイスからネットに繋がれる現代には必須のスキルです。<br>
              作り方をしっかり学んでいきましょう。<br>
            </p>
            <div class="flex flex-col text-brown lg:text-xl font-serif">
              <%= link_to "・CSSでスマホ対応！レスポンシブサイトの作り方と初心者向けQ&A", "https://www.sejuku.net/blog/99964", class: 'hover:text-yellow-900', target: :_blank, rel: "noopener noreferrer" %>
              <%= link_to "・【入門】レスポンシブWebデザインとは？概要と作り方を丁寧解説", "https://www.kagoya.jp/howto/it-glossary/web/responsive/", class: 'hover:text-yellow-900 my-2', target: :_blank, rel: "noopener noreferrer" %>
            </div>
          </div>
          <div class="w-full sm:w-1/2 lg:w-2/5 h-30 md:h-auto order-first sm:order-none bg-gray-300">
            <%= image_tag "responsive.jpg", loading: "lazy", class: "w-full h-full object-cover object-center" %>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray pt-6 pb-12 lg:py-20">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
          <div class="w-full sm:w-1/2 lg:w-2/5 h-30 md:h-auto order-first sm:order-none bg-gray-300">
            <%= image_tag "look.jpg", loading: "lazy", class: "w-full h-full object-cover object-center" %>
          </div>
          <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
            <div class="font-serif text-gray-600 text-xl md:text-xl lg:text-2xl mb-4">いいデザインを見る</div>
            <p class="text-gray-600 text-xs lg:text-base mb-8">
              いいデザインを見ることも非常に勉強になります。<br>
              自分のデザインに活かせる部分はないか<br>
              考えながら見ることで視野も広がっていくでしょう。<br>
            </p>
            <div class="flex flex-col text-brown lg:text-xl font-serif">
              <%= link_to "・WebDesignClip｜Webサイト制作の参考になる日本のWebデザインリンク集", "https://webdesignclip.com/", class: 'hover:text-yellow-900', target: :_blank, rel: "noopener noreferrer" %>
              <%= link_to "・I/O 3000｜Webデザインギャラリー", "https://io3000.com/", class: 'hover:text-yellow-900 my-2', target: :_blank, rel: "noopener noreferrer" %>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray py-6 lg:py-20">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
          <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
            <div class="font-serif text-gray-600 text-xl md:text-xl lg:text-2xl mb-4">UI/UXについて知識を深める</div>
            <p class="text-gray-600 text-xs lg:text-base mb-8">
              UI/UXとは何なのか？それらをよくするにはどうしたらいいのか？<br>
              これを考えるとデザインの質もグッと上がるはず。<br>
              まずはUI/UXについて知識から深めていきましょう。<br>
            </p>
            <div class="flex flex-col text-brown lg:text-xl font-serif">
              <%= link_to "・UI/UXとは｜UIとUXそれぞれの意味や違い、改善方法についてわかりやすく解説", "https://shiftasia.com/ja/column/ui-ux%E3%81%A8%E3%81%AF%E4%BD%95%E3%81%8B/", class: 'hover:text-yellow-900', target: :_blank, rel: "noopener noreferrer" %>
              <%= link_to "・UIとUXの違いとは？Webデザイナー必見「UI/UXデザイン」をわかりやすく解説", "https://udemy.benesse.co.jp/design/web-design/ui-ux.html", class: 'hover:text-yellow-900 my-2', target: :_blank, rel: "noopener noreferrer" %>
            </div>
          </div>
          <div class="w-full sm:w-1/2 lg:w-2/5 h-30 md:h-auto order-first sm:order-none bg-gray-300">
            <%= image_tag "ui_ux.jpg", loading: "lazy", class: "w-full h-full object-cover object-center" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden" data-view-target="content" >
    <div class="pb-6 sm:pb-8 lg:pb-12 mt-20">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <div class="font-serif text-gray-600 text-xl mb:text-3xl lg:text-4xl py-12">サービスの運用について</div>
        <p class="text-gray-600 mb-8">
        作成したサービスは多くの人に知ってもらって初めて価値が生まれます。<br>
        サービスの拡散や運用についての情報にも目を通しておきましょう。<br>
        </p>
      </div>
    </div>

    <div class="bg-gray py-6 lg:py-20">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
          <div class="w-full sm:w-1/2 lg:w-2/5 h-30 md:h-auto order-first sm:order-none bg-gray-300">
            <%= image_tag "seo.jpg", loading: "lazy", class: "w-full h-full object-cover object-center" %>
          </div>
          <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
            <div class="font-serif text-gray-600 text-xl md:text-xl lg:text-2xl mb-4">SEO対策</div>
            <p class="text-gray-600 text-xs lg:text-base mb-8">
              SEOとはサービスが検索で見つかりやすくするための施策のことです。<br>
              サービスの認知度向上のために必要なことの一つなので<br>
              以下の情報を参考にまずは概要を掴んでいきましょう。<br>
            </p>
            <div class="flex flex-col text-brown lg:text-xl font-serif">
              <%= link_to "・SEO対策とは？ホームページ初心者が制作時に意識すべきポイント6つ", "https://www.xserver.ne.jp/bizhp/homepage-seo/?gclid=Cj0KCQjw8e-gBhD0ARIsAJiDsaXJfimiA0M4ePtqSZTgAsV2rTq4BZTpOnm3t9RunKu-hzGnQi1p0EwaAgJGEALw_wcB", class: 'hover:text-yellow-900', target: :_blank, rel: "noopener noreferrer" %>
              <%= link_to "・SEOとは？初心者がすぐやるべき基本対策5つをわかりやすく解説】", "https://satori.marketing/marketing-blog/seo-measures/", class: 'hover:text-yellow-900 my-2', target: :_blank, rel: "noopener noreferrer" %>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray py-6 lg:py-20">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
          <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
            <div class="font-serif text-gray-600 text-xl md:text-xl lg:text-2xl mb-4">Webマーケティング</div>
            <p class="text-gray-600 text-xs lg:text-base mb-8">
              Webマーケティングとは、Webサービスを用いて行われるマーケティング活動のこと。<br>
              Webに関わる人なら誰もが知っておいて損はないことなので基本だけでも抑えておきましょう。<br>
            </p>
            <div class="flex flex-col text-brown lg:text-xl font-serif">
              <%= link_to "・Webマーケティングとは？【初心者向け】基礎知識と成果の上げ方", "https://mieru-ca.com/blog/web_marketing/", class: 'hover:text-yellow-900', target: :_blank, rel: "noopener noreferrer" %>
              <%= link_to "・Webマーケティングとは？基礎知識や施策など初心者にわかりやすく解説！", "https://seolaboratory.jp/29896/", class: 'hover:text-yellow-900 my-2', target: :_blank, rel: "noopener noreferrer" %>
            </div>
          </div>
          <div class="w-full sm:w-1/2 lg:w-2/5 h-30 md:h-auto order-first sm:order-none bg-gray-300">
            <%= image_tag "marketing.jpg", loading: "lazy", class: "w-full h-full object-cover object-center" %>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray pt-6 pb-12 lg:py-20">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
          <div class="w-full sm:w-1/2 lg:w-2/5 h-30 md:h-auto order-first sm:order-none bg-gray-300">
            <%= image_tag "branding.jpg", loading: "lazy", class: "w-full h-full object-cover object-center" %>
          </div>
          <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
            <div class="font-serif text-gray-600 text-xl md:text-xl lg:text-2xl mb-4">サービスのブランディング</div>
            <p class="text-gray-600 text-xs lg:text-base mb-8">
              サービスのブランディングにはさまざまなメリットがあります。<br>
              発展的な内容になりますが、自分のサービスを好きになってもらうためにも<br>
              ブランディングに対する意識も持っておくようにしましょう。<br>
            </p>
            <div class="flex flex-col text-brown lg:text-xl font-serif">
              <%= link_to "・これだけ読めば大丈夫！Webブランディングの基本から実践4ステップ", "https://trasp-inc.com/blog/marketing/branding/web-branding/", class: 'hover:text-yellow-900', target: :_blank, rel: "noopener noreferrer" %>
              <%= link_to "・初心者向け！ブランディングをザックリ理解しよう", "https://re-v.co.jp/webmali/2020/06/23/beginner-branding/", class: 'hover:text-yellow-900 my-2', target: :_blank, rel: "noopener noreferrer" %>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>