<!-- hero - start -->
<div class="pb-6 sm:pb-8 lg:pb-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">

    <section class="flex flex-col lg:flex-row justify-between gap-6 sm:gap-10 md:gap-16">
      <!-- content - start -->
      <div class="xl:w-6/12 flex flex-col justify-center sm:text-center lg:text-left lg:py-12 xl:py-24">
        <h1 class="text-black-800 text-4xl sm:text-5xl md:text-1xl font-bold mb-8 md:mb-12">
          ここから始まるデザインがある。
        </h1>

        <p class="lg:w-4/5 text-gray-500 xl:text-lg leading-relaxed mb-8 md:mb-12">誰でもデザインはデザイン初学者向けの情報検索サービスです。</p>

        <div class="flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-2.5">
          <button class="btn rounded-lg">ユーザー登録</button>
          <div class="rounded-lg">
            <%= search_form_for @q, url: search_design_tips_path do |f| %>
          </div>
          <%= f.search_field :title_cont %>
          <button class="btn btn-outline rounded-lg">検索</button>
        <% end %>
        </div>
      </div>
      <!-- content - end -->

      <!-- image - start -->
      <div class="xl:w-5/12 h-48 lg:h-auto bg-gray-100 rounded-lg">
        <img src="assets/woman.jpg" loading="lazy" alt="Photo by Fakurian Design" class="w-full h-full object-cover object-center" />
      </div>
      <!-- image - end -->
    </section>
  </div>
</div>
<!-- hero - end -->

<!-- features - start -->
<div class="bg-white py-6 sm:py-8 lg:py-16">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">情報ジャンル</h2>
    </div>
    <!-- text - end -->

    <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 md:my-18">
      <!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-indigo-500 text-white rounded-lg md:rounded-xl shadow-lg">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
          </svg>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">配色</h3>
          <p class="text-gray-500 mb-2">color</p>
        </div>
      </div>
      <!-- feature - end -->

      <!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-indigo-500 text-white rounded-lg md:rounded-xl shadow-lg">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
          </svg>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">フォント</h3>
          <p class="text-gray-500 mb-2">font</p>
        </div>
      </div>
      <!-- feature - end -->

      <!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-indigo-500 text-white rounded-lg md:rounded-xl shadow-lg">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
          </svg>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">UX・UI</h3>
          <p class="text-gray-500 mb-2">UX・UI</p>
        </div>
      </div>
      <!-- feature - end -->

      <!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-indigo-500 text-white rounded-lg md:rounded-xl shadow-lg">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
          </svg>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">テクニック</h3>
          <p class="text-gray-500 mb-2">technique</p>
        </div>
      </div>
      <!-- feature - end -->

      <!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-indigo-500 text-white rounded-lg md:rounded-xl shadow-lg">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">書籍</h3>
          <p class="text-gray-500 mb-2">books</p>
        </div>
      </div>
      <!-- feature - end -->

      <!-- feature - start -->
      <div class="flex gap-4 md:gap-6">
        <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-indigo-500 text-white rounded-lg md:rounded-xl shadow-lg">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
          </svg>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">デザイン例</h3>
          <p class="text-gray-500 mb-2">example</p>
        </div>
      </div>
      <!-- feature - end -->
    </div>
  </div>
</div>
<!-- features - end -->

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">よく見られている情報</h2>
    </div>
    <!-- text - end -->

    <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16">
      <!-- question - start -->
    <% @design_tips.each do |design_tip| %>
      <div class="flex flex-col md:flex-row items-center border rounded-lg overflow-hidden">
        <div class="flex flex-col gap-2 p-4 lg:p-6">
          <h2 class="text-indigo-500 text-xl font-bold">
            <div class="hover:text-indigo-700 active:text-indigo-800 transition duration-100"><%= link_to(design_tip.title, design_tip.url) %></div>
          </h2>
          <p class="text-gray-500"><%= design_tip.guidance %></p>
        </div>
      </div>
    <% end %>
      <!-- question - end -->

      <!-- question - start -->
      <div class="flex flex-col md:flex-row items-center border rounded-lg overflow-hidden">
        <div class="flex flex-col gap-2 p-4 lg:p-6">
          <h2 class="text-indigo-500 text-xl font-bold">
            <div class="hover:text-indigo-700 active:text-indigo-800 transition duration-100"><%= link_to("design_tip.title", "#") %></div>
          </h2>
          <p class="text-gray-500"><%= "design_tip.guidance" %></p>
        </div>
      </div>
      <!-- question - end -->
    </div>
  </div>
</div>
