<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">地域詳細編集</h1>

  <%= form_with model: @map_detail, url: admin_map_detail_path, class: "contents" do |form| %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_area :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :url %>
    <%= form.text_area :url, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :image %>
    <%= form.text_area :image, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :map_id %>
    <%= form.number_field :map_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-outline outline-green-800 text-green-800 hover:text-white hover:bg-green-800 rounded-lg" %>
  </div>
  <% end %>

  <%= link_to '地域詳細一覧へ', admin_map_detail_url, class: "btn btn-outline outline-green-800 text-green-800 hover:text-white hover:bg-green-800 rounded-lg" %>
  <%= link_to '地域詳細詳細へ', admin_map_detail_path(@map_detail), class: "btn btn-outline outline-green-800 text-green-800 hover:text-white hover:bg-green-800 rounded-lg" %>
</div>
