<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class='font-serif'>
      <div class="my-5">
        <strong class="block font-medium mb-1">質問</strong>
        <%= @quiz.question %>
      </div>

      <div class="my-5">
        <strong class="block font-medium mb-1">解説</strong>
        <%= @quiz.commentary %>
      </div>
    </div>

    <%= link_to '質問編集へ', edit_admin_quizee_path(@quiz), class: "btn btn-outline outline-green-800 text-green-800 hover:text-white hover:bg-green-800 rounded-lg" %>
    <div class="inline-block ml-2">
      <%= button_to '質問削除', admin_quizee_path(@quiz), method: :delete, class: "btn btn-outline outline-green-800 text-green-800 hover:text-white hover:bg-green-800 rounded-lg" %>
    </div>
    <%= link_to '質問一覧へ', admin_quizees_path, class: "btn btn-outline outline-green-800 text-green-800 hover:text-white hover:bg-green-800 rounded-lg" %>
  </div>
</div>
