<!DOCTYPE html>
<html data-theme="autumn" >
  <head>
    <title>DesignSupport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto">
      <%= link_to '誰でもデザイン', root_path, class: 'font-serif pt-10 inline-flex items-center text-black-800 text-2xl md:text-3xl font-bold gap-2.5" aria-label="logo' %>
      <%= render 'admin/shared/flash_message' %>
      <%= yield %>
      <%= render 'admin/shared/footer' %>
    </main>
  </body>
</html>
