
<h5>この情報の評価は？</h5>
<%= form_with model: review, url: design_tip_reviews_path(design_tip) do |f| %>
  <div class="post_form">
    <%= f.radio_button :score, 5 ,id: 'star1'%>
    <label for="star1">★</label>

    <%= f.radio_button :score, 4 ,id: 'star2'%>
    <label for="star2">★</label>

    <%= f.radio_button :score, 3 ,id: 'star3'%>
    <label for="star3">★</label>

    <%= f.radio_button :score, 2 ,id: 'star4'%>
    <label for="star4">★</label>

    <%= f.radio_button :score, 1 ,id: 'star5'%>
    <label for="star5">★</label>
    <%= f.hidden_field :design_tip_id, value: design_tip.id %>
  </div>
  <%= f.submit '評価を送信' %>
<% end %>