<% content_for(:title, t('.title')) %>
<div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
  <div class='flex place-content-between'>
    <div class='text-gray-600  text-lg md:text-2xl font-serif mb-8 md:mb-12 ml-2 lg:ml-0'>
      お気に入りリスト一覧
    </div>
    <label for="my-modal-3" class="btn bg-green-700 hover:bg-green-600 text-white font-serif text-xs rounded-lg mr-2 lg:mr-0">
      <svg class="icons-list_create"><use xlink:href="#icons-list_add"></use></svg>
      <div>リスト作成</div>
    </label>
    <input type="checkbox" id="my-modal-3" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box bg-white">
        <label for="my-modal-3" class="btn btn-sm btn-circle bg-green-800 hover:bg-green-700 text-white absolute right-2 top-2">✕</label>
        <div class="flex justify-center font-serif">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h1 class="text-gray-600 text-center text-2xl mt-12">リスト作成</h1>
            <div class="p-12 md:p-18">
              <%= form_with model: @list, local: true do |form| %>
                <%= render 'shared/error_messages', object: form.object %>
                <div class="flex flex-col mb-6 md:mb-8">
                  <%= form.label :name %>
                  <%= form.text_field :name, class: "border-none", required: true %>
                </div>

                <div class="flex items-center justify-center">
                  <%= form.submit class: "btn bg-green-700 hover:bg-green-600 text-white font-serif text-xs rounded-lg" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @lists.present? %>
    <% @lists.each do |list| %>
      <div class="flex gap-8 mt-20 pb-16 items-center font-serif">
        <div class="flex text-gray-600 text-2xl"><%= list.name %></div>
        <label for="my-modal-<%= list.id %>" class="flex flex-col text-xs text-green-700 hover:text-green-600 mb-0.5">
          <svg class="icons-list_edit"><use xlink:href="#icons-mode_edit"></use></svg>
          <div>編集</div>
        </label>
        <input type="checkbox" id="my-modal-<%= list.id %>" class="modal-toggle" />
        <div class="modal">
          <div class="modal-box bg-white">
            <label for="my-modal-<%= list.id %>" class="btn btn-sm btn-circle bg-green-800 hover:bg-green-700 text-white absolute right-2 top-2">✕</label>
            <div class="flex justify-center font-serif">
              <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <h1 class="text-gray-600 text-center text-2xl mt-12">リスト編集</h1>
                <div class="p-12 md:p-18">
                  <%= form_with model: list, local: true do |form| %>
                    <%= render 'shared/error_messages', object: form.object %>
                    <div class="flex flex-col mb-6 md:mb-8">
                      <%= form.label :name %>
                      <%= form.text_field :name, class: "border-none", required: true %>
                    </div>

                    <div class="flex items-center justify-center">
                      <%= form.submit class: "btn bg-green-700 hover:bg-green-600 text-white font-serif text-xs rounded-lg" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%= button_to list_path(list), method: :delete, form: { data: { turbo_confirm: "リストを削除しますか?" } }, class: "flex flex-col text-xs text-green-700 hover:text-green-600" do %>
          <svg class="icons-list_edit"><use xlink:href="#icons-delete"></use></svg>
          <div>削除</div>
        <% end %>
      </div>
      <% if list.list_design_tips.present? %>
        <div class="container mx-auto pt-3 grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 pb-16">
          <% list.list_design_tips.each do |list_design_tip| %>
            <div class="bg-white flex md:flex-row rounded-lg shadow-lg">
              <div class="flex flex-col place-content-between gap-2 p-4 lg:p-6">
                <div class="text-brown text-xl font-serif hover:text-yellow-900">
                  <%= link_to list_design_tip.design_tip.title, list_design_tip.design_tip.url, target: :_blank, rel: "noopener noreferrer" %>
                </div>
                <p class="text-gray-500 text-sm"><%= list_design_tip.design_tip.guidance %></p>
                <div class="my-5 flex place-content-between">
                  <div class='flex gap-1 md:gap-3'><%= render 'design_tips/tag_list', tag: list_design_tip.design_tip.tags.pluck(:name) %></div>
                  <div class='flex gap-2'>
                    <div class='flex gap-1 md:gap-3'>
                    <%= render 'design_tips/like_button', design_tip: list_design_tip.design_tip %></div>
                    <%= link_to list_design_tip_url(list_design_tip), data: { turbo_method: :delete, turbo_confirm: 'リストから削除しますか?' }, status: :see_other do %>
                      <div class="container text-gray-300 hover:bg-red-400 rounded-lg flex items-center text-xs">
                        <svg class="icons-list"><use xlink:href="#icons-list_remove"></use></svg>
                        <div>削除</div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <hr>
      <% else %>
        <div class='text-gray-600 pb-20 font-serif'>リストに情報がありません</div>
        <hr>
      <% end%>
    <% end %>
  <% else %>
    <div class='text-gray-600 py-20 font-serif'>リストが作成されていません</div>
  <% end %>
</div>
