<% content_for(:title, t('.title')) %>
<div class="container mx-auto">
  <div class='flex place-content-between'>
    <div class='text-gray-600  text-lg md:text-2xl font-serif mb-8 md:mb-12 ml-2 lg:ml-0'>
      お気に入りリスト一覧
    </div>
    <%= link_to new_list_path, class:'btn bg-green-700 hover:bg-green-600 text-white font-serif text-xs rounded-lg mr-2 lg:mr-0' do %>
      <span class="material-icons">playlist_add</span>
      <div>リスト作成</div>
    <% end %>
  </div>

  <% if @lists.present? %>
    <% @lists.each do |list| %>
      <div class="flex gap-8 mt-20 pb-16 items-center font-serif">
        <div class="text-gray-600 text-2xl"><%= list.name %></div>
        <%= link_to edit_list_path(list), class: "text-xs text-green-700 hover:text-green-600" do %>
          <span class="material-icons">mode_edit</span>
          <div>編集</div>
        <% end %>
        <%= button_to list_path(list), method: :delete, form: { data: { turbo_confirm: "リストを削除しますか?" } }, class: "text-xs text-green-700 hover:text-green-600" do %>
          <span class="material-icons">delete</span>
          <div>削除</div>
        <% end %>
      </div>
      <% if list.list_design_tips.present? %>
        <div class="container mx-auto pt-3 grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 pb-16">
          <% list.list_design_tips.each do |list_design_tip| %>
            <div class="bg-white flex md:flex-row rounded-lg shadow-lg">
              <div class="flex flex-col place-content-between gap-2 p-4 lg:p-6">
                <div class="text-brown text-xl font-serif hover:text-yellow-900">
                  <%= link_to list_design_tip.design_tip.title, list_design_tip.design_tip.url, target: :_blank, rel: "noopener noreferrer" %>
                </div>
                <p class="text-gray-500 text-sm"><%= list_design_tip.design_tip.guidance %></p>
                <div class="my-5 flex place-content-between">
                  <%= render 'design_tips/tag_list', tag_list: list_design_tip.design_tip.tag_list %>
                  <div class='flex gap-2'>
                    <div class='flex gap-1 md:gap-3'><%= render 'design_tips/like_button', design_tip: list_design_tip.design_tip %></div>
                    <%= link_to list_design_tip_url(list_design_tip), data: { turbo_method: :delete, turbo_confirm: 'リストから削除しますか?' }, status: :see_other do %>
                      <div class="container text-gray-300 hover:bg-red-400 rounded-lg flex items-center text-xs">
                        <span class="material-icons">playlist_remove</span>
                        <div>削除</div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <hr>
      <% else %>
        <div class='text-gray-600 pb-20 font-serif'>リストに情報がありません</div>
        <hr>
      <% end%>
    <% end %>
  <% else %>
    <div class='text-gray-600 py-20 font-serif'>リストが作成されていません</div>
  <% end %>
</div>
