<h1>hello</h1>
<%= turbo_frame_tag 'search' do %>
  <%= form_tag images_path, method: :get, remote: true do %>
    <%= text_field_tag :query, nil, placeholder: 'Search Images...' %>
    <%= submit_tag 'Search', data: { turbo_frame: 'search' } %>
  <% end %>

    <% @images.each do |image_url| %>
      <%= image_tag image_url %>
    <% end %>
<% end %>

